<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CapCom</title>
    {% load static %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <br>
        <div id="btnsDiv1">
            <button id="10" class="btn btn-default" onclick="changeColor(id)">1.0</button>
            <button id="11" class="btn btn-default" onclick="changeColor(id)">1.1</button>
            <button id="12" class="btn btn-default" onclick="changeColor(id)">1.2</button>
            <button id="13" class="btn btn-default" onclick="changeColor(id)">1.3</button>
            <button id="14" class="btn btn-default" onclick="changeColor(id)">1.4</button>
            <button id="15" class="btn btn-default" onclick="changeColor(id)">1.5</button>
            <button id="16" class="btn btn-default" onclick="changeColor(id)">1.6</button>
            <button id="17" class="btn btn-default" onclick="changeColor(id)">1.7</button>
            <button id="18" class="btn btn-default" onclick="changeColor(id)">1.8</button>
            <button id="19" class="btn btn-default" onclick="changeColor(id)">1.9</button>
            <label id="capLabel1"  class="label label-default"></label>
        </div>
        <br>
        <div id="btnsDiv2">
            <button id="20" class="btn btn-default" onclick="changeColor(id)">2.0</button>
            <button id="21" class="btn btn-default" onclick="changeColor(id)">2.1</button>
            <button id="22" class="btn btn-default" onclick="changeColor(id)">2.2</button>
            <button id="23" class="btn btn-default" onclick="changeColor(id)">2.3</button>
            <button id="24" class="btn btn-default" onclick="changeColor(id)">2.4</button>
            <button id="25" class="btn btn-default" onclick="changeColor(id)">2.5</button>
            <button id="26" class="btn btn-default" onclick="changeColor(id)">2.6</button>
            <button id="27" class="btn btn-default" onclick="changeColor(id)">2.7</button>
            <button id="28" class="btn btn-default" onclick="changeColor(id)">2.8</button>
            <button id="29" class="btn btn-default" onclick="changeColor(id)">2.9</button>
            <span id="capLabel2" class="label label-default"></span>
        </div>
        <br>
        <div id="btnsDpznDiv">
            <button id="d00" class="btn btn-default" onclick="chooseDiapazon(id)">d1</button>
            <button id="d01" class="btn btn-default" onclick="chooseDiapazon(id)">d2</button>
            <button id="d02" class="btn btn-default" onclick="chooseDiapazon(id)">d3</button>
            <button id="d03" class="btn btn-default" onclick="chooseDiapazon(id)">d4</button>
            <button id="d04" class="btn btn-default" onclick="chooseDiapazon(id)">d5</button>
            <button id="d05" class="btn btn-default" onclick="chooseDiapazon(id)">d6</button>
            <button id="d06" class="btn btn-default" onclick="chooseDiapazon(id)">d7</button>
            <button id="d07" class="btn btn-default" onclick="chooseDiapazon(id)">d8</button>
            <button id="d08" class="btn btn-default" onclick="chooseDiapazon(id)">d9</button>
            <button id="d09" class="btn btn-default" onclick="chooseDiapazon(id)">d10</button>
            <button id="d10" class="btn btn-default" onclick="chooseDiapazon(id)">d11</button>
            <button id="d11" class="btn btn-default" onclick="chooseDiapazon(id)">d12</button>
            <button id="d12" class="btn btn-default" onclick="chooseDiapazon(id)">d13</button>
            <button id="d13" class="btn btn-default" onclick="chooseDiapazon(id)">d14</button>
        </div>
        <br>
        <div>
            <button id="aplBtn" class="btn btn-default" onclick="applyChanges()">Apply</button>
        </div>
    </div>
<br>
 <div class="container">
      <form id="load_form">
            {% if latest_question_list %}
                <table id="capVal_table" class="table-bordered">
                    <tr style="font-size: 2ch">
                        <td style="padding:5px;" width="50">ID </td>
                        <td style="padding:5px;" width="150">Mask 1 </td>
                        <td style="padding:5px;" width="150">Mask 2 </td>
                        <td style="padding:5px;" width="100">Capasity 1 </td>
                        <td style="padding:5px;" width="100">Capasity 2 </td>
                        <td style="padding:5px;">Comment </td>
                        <td style="padding:5px;" width="200" >Create Date</td>
                    </tr>
                {% for question in latest_question_list  %}
                    <tr style="font-size: 2ch;">
                             <td> {{ question.id }}</td>
                             <td> {{ question.mask1 }}</td>
                             <td> {{ question.mask2 }}</td>
                             <td> {{ question.capacity1 }}</td>
                             <td> {{ question.capacity2 }}</td>
                         <td style="white-space:pre-wrap; word-wrap:break-word">{{ question.comment }}</td>
                             <td> {{ question.last_date|date:'Y-m-d H:i:s' }}</td>
                    </tr>
                    {% if not forloop.last and forloop.counter == 0%}

                    <tr>
                    {% endif %}
                {% endfor %}
                    </tr>
                </table>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
      <br><br>
        <div>
            <button id="btn_save" class="btn btn-default" type="button" style="vertical-align: top">Save</button>
            <button id="btn_load" class="btn btn-default" type="button" style="vertical-align: top">Load</button>
            <button id="btn_del" class="btn btn-default" type="button" style="vertical-align: top">Delete</button>
            <label for="save_comment" style="vertical-align: top">Comment</label>
            <textarea rows="3" cols="50" name="save_comment" id="save_comment"></textarea>
        </div>

      <br><br>
      <p></p>
            <label id="is_deleted" style="float: left"></label>
      </form>

 </div>
</body>
<script>
    var keys1 = {
        keyCodes : [49,50,51,52,53,54,55,56,57,48]
        ,btnIds : ['11','12','13','14','15','16','17','18','19','10']
    };
    var keys2 = {
        keyCodes : [97,98,99,100,101,102,103,104,105,96]
        ,btnIds : ['21','22','23','24','25','26','27','28','29','20']
    };
    var mask1=[];
    var mask2=[];
    var diapazon_mask=[];
    var capacity1 = '0,0';
    var capacity2 = '0,0';


    $('body').on('keydown', function (e) {
        if(keys1.keyCodes.indexOf(e.which)>-1)
            changeColor(keys1.btnIds[keys1.keyCodes.indexOf(e.which)]);

        if(keys2.keyCodes.indexOf(e.which)>-1)
            changeColor(keys2.btnIds[keys2.keyCodes.indexOf(e.which)]);

        if(e.which===13){
            if($('applBtn').is('focus')){
                //ok
            }
            else {
                calcMasks();
            }
        }
    });

    function changeColor(id){
        var btnId = '#' + id;
        var btn = $(btnId);
        if(btn.hasClass('btn-default')){
            btn.removeClass('btn-default').addClass('btn-warning');
            if(id[0]==='1'){
                capacity1 = (parseFloat(capacity1) + parseFloat(btn.text())).toFixed(2);
            }
            else{
                capacity2 = (parseFloat(capacity2) + parseFloat(btn.text())).toFixed(2);
            }
        }
        else {
            btn.removeClass('btn-warning').addClass('btn-default');
            if(id[0]==='1'){
                capacity1 = (parseFloat(capacity1) - parseFloat(btn.text())).toFixed(2);
            }
            else{
                capacity2 = (parseFloat(capacity2) - parseFloat(btn.text())).toFixed(2);
            }
        }

        $('#capLabel1').text(capacity1);
        $('#capLabel2').text(capacity2);
        $('#aplBtn').removeClass('btn-default').addClass('btn-warning').focus();
    }
    
    function chooseDiapazon(id) {
        var btnId = '#' + id;
        var btn = $(btnId);
        if(btn.hasClass('btn-default')){
            btn.removeClass('btn-default').addClass('btn-warning');
        }
        else {
            btn.removeClass('btn-warning').addClass('btn-default');
        }


        $('#aplBtn').removeClass('btn-default').addClass('btn-warning').focus();

        $('#btnsDpznDiv').children().each(function (i,obj) {
            if(obj.id!==id && $('#' + obj.id).hasClass('btn-warning')){
                $('#'+obj.id).removeClass('btn-warning').addClass('btn-default')
            }
        });
    }

    function calcMasks() {
        // сбор битовых масок
        mask1='';
        $('#btnsDiv1').children().each(function (i,obj) {
          if(keys1.btnIds.indexOf(obj.id)>-1){
              if($('#'+obj.id).hasClass('btn-warning')){
                  mask1+='1';
              }
              else {
                  mask1+='0'
              }
          }
        });

        mask2='';
        $('#btnsDiv2').children().each(function (i,obj) {
          if(keys2.btnIds.indexOf(obj.id)>-1){
              if($('#'+obj.id).hasClass('btn-warning')){
                  mask2+='1';
              }
              else {
                  mask2+='0'
              }
          }
        });

        diapazon_mask='';
        $('#btnsDpznDiv').children().each(function (i,obj) {
          if($('#'+obj.id).hasClass('btn-warning')){
              diapazon_mask+='1'
          }
          else {
              diapazon_mask+='0'
          }
        });
        $('#aplBtn').removeClass('btn-warning').addClass('btn-default')
    }
    
    function setMasks() {
        //применение битовых масок к кнопкам
        $('#btnsDiv1').children().each(function (i,obj) {
            if(mask1[obj.id[1]]=='1'){
                $('#'+obj.id).removeClass('btn-default').addClass('btn-warning')
            }
            else {
                $('#'+obj.id).removeClass('btn-warning').addClass('btn-default');
            }
        });

        $('#btnsDiv2').children().each(function (i,obj) {
            if(mask2[obj.id[1]]=='1'){
                $('#'+obj.id).removeClass('btn-default').addClass('btn-warning')
            }
            else {
                $('#'+obj.id).removeClass('btn-warning').addClass('btn-default');
            }
        });

        $('#btnsDpznDiv').children().each(function (i,obj) {
            var num1 = String(obj.id[1]) == '0' ? '' : String(obj.id[1]);
            var num = num1 + String(obj.id[2]);
            if(diapazon_mask[num]=='1'){
                $('#'+obj.id).removeClass('btn-default').addClass('btn-warning')
            }
            else {
                $('#'+obj.id).removeClass('btn-warning').addClass('btn-default');
            }
        });
        $('#capLabel1').text(capacity1.toFixed(2));
        $('#capLabel2').text(capacity2.toFixed(2));
        $('#aplBtn').removeClass('btn-warning').addClass('btn-default')
    }

    function sendMasksOnServer() {
        var b1;
        var b2;
        var b3;
        var bd1;
        var bd2;
        $.ajax({
            url: '/capcom/applyBinMasks/',
            data: {
              'mask1': mask1,
              'mask2': mask2,
              'diapazon_mask': diapazon_mask,
              'capacity1' : capacity1,
              'capacity2' : capacity2
            },
            dataType: 'json',
                    success: function (data) {
                            mask1 = data.mask1;
                            mask2 = data.mask2;
                            diapazon_mask = data.diapazon_mask;
                            capacity1 = parseFloat(data.capacity1);
                            capacity2 = parseFloat(data.capacity2);

                            b1 = data.b1;
                            b2 = data.b2;
                            b3 = data.b3;
                            bd1 = data.bd1;
                            bd2 = data.bd2;

                    }
        });

    }

    function applyChanges() {
        calcMasks();
        sendMasksOnServer();
    }


        $('#btn_save').on('mousedown',function(){
                calcMasks();
                var comment = $("#load_form textarea[id=save_comment]").val();
                $.ajax({
                  type: "GET",
                  url: "/capcom/save_data/",
                  data: {"mask1":mask1,
                         "mask2":mask2,
                         "capacity1":capacity1,
                         "capacity2":capacity2,
                         "comment":comment
                         },
                  dataType: "json"
                });
                setInterval(function () {  window.location.reload(false);},100);
            });

        $("#capVal_table tr").on('mousedown', function(){
            $(this).addClass('load_tr_selected').siblings().removeClass('load_tr_selected'); //нужно для механизма удаления
            $(this).css("background-color", "#D3D3D3").siblings().css("background-color", "#fff");
        });


        $('#btn_load').on('mousedown', function(e){
            mask1=$("#capVal_table tr.load_tr_selected td:eq(1)").html().replace(' ','');
            mask2=$("#capVal_table tr.load_tr_selected td:eq(2)").html().replace(' ','');
            capacity1=parseFloat($("#capVal_table tr.load_tr_selected td:eq(3)").html().replace(' ',''));
            capacity2=parseFloat($("#capVal_table tr.load_tr_selected td:eq(4)").html().replace(' ',''));

            setMasks();
            applyChanges();
        });

        $('#btn_del').on('mousedown', function(e){
            var id_to_del=parseInt($("#capVal_table tr.load_tr_selected td:eq(0)").html());
            $.ajax({
                url: '/capcom/del_data/',
                data: {
                  'id': id_to_del
                },
                dataType: 'json',
                success: function (data) {
                        $("#load_form label[id=is_deleted]").text("deleted");
                        setInterval(function () {
                            $("#load_form label[id=is_deleted]").text("");
                        },2000)                    }
            });

            setInterval(function () {  window.location.reload(false);},100);
        });


        $.ajax({
                    url: '/capcom/get_session_masks/',
                    dataType: 'json',
                    success: function (data) {
                            mask1 = data.mask1;
                            mask2 = data.mask2;
                            diapazon_mask = data.diapazon_mask;
                            capacity1 = parseFloat(typeof data.capacity1=='undefined' || data.capacity1=='' ? 0 : data.capacity1);
                            capacity2 = parseFloat(typeof data.capacity2=='undefined' || data.capacity2=='' ? 0 : data.capacity2);
                            setMasks();
                    }
                });


</script>
</html>





